.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.62rem;
  background: url('../../img/backgroundImg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      width: 80%;
      max-width: 49rem;
      padding: 1.25rem 2.63rem;
      border: none;
      outline: none;
      background: #ffffff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      color: $text-color;
      font-size: 0.75rem;
      &::placeholder {
        color: $gray;
      }
    }
  }
}
